.overview {
  text-align: center;
}
.overview .icon {
  font-size: 40px;
  color: var(--color-primary);
  display: inline-block;
  margin-bottom: 20px;
}
.overview .tit {
  font-size: 30px;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.overview .text {
  font-size: 22px;
  color: var(--color-gray);
}
